@import "../../styles/styleVariables.scss";

:root {
  --PhoneInput-color--focus: transparent;
}

$phoneInputHeight: 3rem;
$phoneInputBorderRadius: 0.5rem;

.phone-input-container {
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
  flex-wrap: wrap;
}

.phone-input {
  padding: 1rem;
  padding-block: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: $phoneInputBorderRadius;
  height: $phoneInputHeight;
  min-width: 20rem;
  flex-grow: 2;

  .PhoneInputCountry {
    margin-right: 1rem;
    cursor: pointer;
  }

  .PhoneInputCountryIcon--border {
    box-shadow: none;
    background: none;
  }

  select {
    background: none;
  }

  input {
    padding-bottom: 0.25rem;
    margin-left: 1rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white !important;

    // Recolor placeholder text
    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
    &::-moz-placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
    &:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
    &:-moz-placeholder {
      color: rgba(255, 255, 255, 0.8);
    }

    // Hide placeholder when focused
    &:focus::placeholder {
      color: transparent;
    }
    // &:focus::-webkit-input-placeholder {
    //   color: transparent;
    // }
    // &:focus::-moz-placeholder {
    //   color: transparent;
    // }
    // &:focus:-ms-input-placeholder {
    //   color: transparent;
    // }
    // &:focus:-moz-placeholder {
    //   color: transparent;
    // }

    // Hide focus outline
    &:focus {
      outline: none;
    }
  }

  // Make the country flag icon round and place correctly
  img {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
    transform: translate(-25%, -15%);
  }

  .PhoneInputCountrySelect {
    clip-path: circle(50% at 50% 50%);
  }

  .PhoneInputCountrySelectArrow {
    border-bottom: 1px solid white;
    opacity: 1;
    transform: scale(1.5) rotate(45deg);
  }
}

// Slight highlight behind country select
.phone-input-country-background {
  width: 4rem;
  height: $phoneInputHeight;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: -1;
  border-top-left-radius: $phoneInputBorderRadius;
  border-bottom-left-radius: $phoneInputBorderRadius;
}

.back-button {
  display: flex;
  justify-content: center;
  background: transparent;
  width: 144px;
}
