@import "../../../styles/styleVariables.scss";

.code-input-container {
  // position: relative;
  // border: 1px solid red;
  padding: .5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: $borderRadius;

  input {
    // padding:1rem;
    background: transparent;
    // height:100%;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    width: fit-content;
    margin-bottom: 1rem;

    &:focus {
      outline: none;

      &::placeholder {
        color: transparent; // Makes the placeholder text transparent only when the input is focused
      }
    }

    &::placeholder {
      color: rgba(
        255,
        255,
        255,
        0.5
      ); // Ensure the placeholder is visible when not focused
    }
  }

  .code-input-underline {
    width: 90%;
    border-bottom: 2px solid white;
    transform: translateY(-0.5rem);
    margin: auto;
  }
}

.request-new-code-link {
  width:100%;
  text-align: center;
  font-size: 1rem;
  // margin:1rem;
  text-shadow: 1px 1px 1px rbga(255,255,255,0.67);
  font-weight:600;
}
