@import "./styles/styleVariables.scss";

@font-face {
  font-family: "Comfortaa";
  src: url("../src/assets/fonts/Comfortaa-Regular.ttf");
}

// @font-face {
//   font-family: "Noto Sans";
//   src: url("../src/assets/fonts/NotoSans-Medium.ttf");
// }

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: transparent;
  font-family: "Comfortaa" system-ui, sans-seriff, arial;
  background-image: url("'../../assets/images/socialCertBackground.png");
}

.flex {
  display: flex;
  gap: 1rem;
}

h2 {
  font-weight: 100;
}

p {
  margin-top: 0;
}

.sub-container {
  text-align: center;
}

.sub-container-2 {
  text-align: left;
}

#main-logo {
  filter: brightness(100);
}

.button-group {
  width: 50%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  padding-inline: 1rem;
  border: 1px solid white;
  border-radius: $borderRadius;
  color: white;
  width:100%;
  * {
    margin-inline: 0.25rem;
  }
  cursor: pointer;

  transition: 0.2s ease;
  &:hover {
    box-shadow: 0.15rem 0.15rem white;
  }
}

.blue-button {
  background: rgb(51, 73, 189);
  *{
    transform: translateX(-10%);
  }
}

.green-button {
  background: rgb(49, 147, 83);
}

.background-image {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
