.result-icon {
  width: 4rem;
  margin-block: 1rem;
}

.result-page-container {
  h1 {
    margin: 0;
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    opacity: 0.8;
    margin: 0;
    margin-bottom: 2rem;
  }
}
